.node {
  width: 100%;
  height: 20px;
  display: inline-block;
}

.node-container {
  height: 100%;
}

.node-wrap.node-title {
  color: #555;
}

.node-node {
  user-select: none;
  cursor: default;
  transform: translateY(-2px);
}

.node-item {
  display: flex;
  white-space: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}

.node-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
  line-height: 20px;
  width: 38px;
  user-select: none;
  font-weight: bold;
  transform: translateY(2.5px);
}

.node-caret {
  color: #5fa2dd;
}

.node-item-box {
  display: flex;
}

.node-item:hover .node-dropdown {
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.node-text {
  display: inline-block;
  padding-top:5px;
  height: 100%;
  width: 90%;
  font-size: 13px;
  user-select: none;
  text-overflow: ellipsis;
}

.node-dropdown {
  display: none
}


.node-icon-style {
  width: 50px;
  padding-right: 5px;
}